/* Page Title, Body Standard, General Navigation #8ecae6;  */
h1{
  font-family: "Lora", serif;
  font-size: 5rem;
  padding-top: 0.5em;
  text-align: center;
  font-style: italic;  
  color:white;
  -webkit-text-stroke: 1.5px #8ecae6; 
}
/* #c6e0ff */
body {
    background-color: white;
    color: black;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

#navigation{
  position: sticky;
  top: 0;
  width: 100%;
  border-style: inset;
  background-color: white;
  padding: 1em;
  text-align: center;
  color: #0e1111;
}

/* Sign In & Register Buttons */
hr {
border: dotted #8ecae6;
}

#message {
  text-align: center;
  font-style: italic;
  color: 	#414a4c;
  background-color: aliceblue;
}

#logon-register {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#logon-register button {
    border: double #c6e0ff;
    text-align: center;
    font-style: normal;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    margin: 0 0.5rem;
    margin-left: 22rem; 
    color: #232b2b;
    
}

#logon-register button:hover {
    background-color:#8ecae6;
    color:white;
}

/* Images For the Sign In & Register Component */

.imgContent {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: row;
  
}

#sampleOnepic {
  border-radius:10px;
  margin: 1em;
  max-width: 200px;
  height: auto;
  border-color:#0e1111;
  border-width:1dvi;
  border-style: solid ;
}

#sampleTwopic {
  border-radius:10px;
  margin: 1em;
  max-width: 200px;
  height: auto;
  border-color:#0e1111;
  border-width:1dvi;
  border-style: solid;
}

#sampleThreepic {
  border-radius:10px;
  margin: 1em;
  max-width: 200px;
  height: auto;
  border-color: #0e1111;
  border-width:1dvi;
  border-style: solid;
}

/* Sign In Page Half */

#logon-div {
  display: flex;
  justify-content: flex-start;
  padding: 5rem;
  margin-left: 20rem;
}

#logon-div form {
  display: flex;
  flex-direction: row;
  align-items: center; 
  gap: 1.5rem;
  width: 100%;
}

 /* Register Page Half */
#register-div {
  display: flex;
  justify-content: flex-start;
  padding: 5rem;
  margin-left: 15rem;
}

#register-div form {
  display: flex;
  flex-direction: row;
  align-items: center; 
  gap: 1.5rem;
  width: 100%;
}